* {
    padding: 0;
    margin: 0;
    font-family: verdana;
}


.menu {
    background: #3780FF;
    color: #FFFFFF;
    padding-left: 10px; 
}

.menu ul{
    list-style: none;
    z-index: 9999999;    
}

.menu ul li{
    line-height: 3;
    text-align: center;
    cursor: pointer;
    transition: all .5s
}



.pages .title {
    padding:15px;
}

.excluir,
.editar {
    cursor: pointer
}

.hidden {
    display: none;
}

form {
    display: table;
    width: 60%;
    margin: 0 auto;
}

form ul li {
    list-style: none;
    line-height: 2
}

form ul li input[type="text"],
textarea {
    width: 100%;
    border: none;
    border-bottom: solid 1px #000000;
    height: 40px;
    font-size: 20px;
}

form ul li input[type="submit"] {
    border: 1px solid #000000;
    font-size: 20px;
    width: 160px;
    height: 30px;
}