.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
    background: rgba(55, 128, 255, .3);

}

ol.tarefas > li {
    border: 1px solid #cccccc;
    line-height: 2;
    margin : 4px;
    cursor: move
}

ol.tarefas li.placeholder {
    position: relative;

}
ol.tarefas li.placeholder:before {
    position: absolute;
}
